.venv/
.venv-soda/
__pycache__/
*.pyc
.env
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
*.p8
*.pem
terraform/keys/
key.p8
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
.dagster/
dagster_home/
tmp/
data/
dbt_project/.user.yml
